.sidenav-container {
  min-width: min-content;
  max-width: max-content;
  height: 100%;
  opacity: 90%;
}

.sidenav-content {
  display: flex;
  height: 90%;
  align-items: start;
  justify-content: start;
  padding: 1rem;
}

.sidenav {
  padding: 20px;
}


