.d-flex{
  display: flex;
}

.flex-c{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.gap-1{
  gap: 0.2rem;
}
.gap-2{
  gap: 0.5rem;
}
.gap-3{
  gap: 1rem;
}
.gap-4{
  gap: 2rem;
}
.gap-5{
  gap: 3rem;
}

.j-center{
  justify-content: center;
}
.j-around{
  justify-content: space-around;
}
.j-between{
  justify-content: space-between;
}
.j-evenly{
  justify-content: space-evenly;
}

.a-center{
  align-items: center;
}
.a-start{
  align-items: start;
}
.a-end{
  align-items: end;
}


