.title{
  font-size: 40px;
  opacity: 30%;
  color: white;
  font-weight: 200;
}

.nav-menu{
  font-weight: 200;
  font-size: 0.8em;
  color: white;
  cursor: pointer;
  text-transform: lowercase;
  p{
    margin: 0;
  }
}
